<component name="ArtifactManager">
  <artifact type="war" name="springMvc_hello:war">
    <output-path>$PROJECT_DIR$/springmvc/springMvc_hello/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springMvc_hello</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springMvc_hello-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springMvc_hello:war exploded" />
    </root>
  </artifact>
</component>